header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background-color: var(--accent-color);
    border-bottom: 1px solid var(--accent-bg);
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    z-index: 99;
}

.header-user-info, .header-profile {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.header-user-info {
    gap: 0.6rem;
}

.header-profile {
    gap: 0.3rem;
    padding: 0.3rem 0.6rem;
    border-radius: 0.4rem;
    color: black;
    cursor: pointer;
    transition: all 0.2s;
}
.header-profile:hover {
    background-color: var(--accent-dark);
    color: white;
}