

.login-signup-page, .login-signup-container {
    transition: all 0.2s;
}

.login-signup-page {
    background-color: var(--bg);
}

.login-signup-container {
    width: 400px;
    padding: 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    /* background-color: var(--accent-transparent); */
    background-color: var(--bg);
    backdrop-filter: blur(3px);
    transition: 0.2s ease;
}

.role-slider {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 0.5rem;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0.4rem;
    border-radius: 999px;
}
.role-slider.login-mode {
    width: calc(5rem * 3 + 1rem + 0.8rem);
}
.role-slider.signup-mode {
    width: calc(5rem * 2 + 0.5rem + 0.8rem);
}
.role-slider-element, .slider-slider {
    width: 5rem;
    height: 2.5rem;
}
.role-slider-element {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    border: 2px solid var(--accent-color);
    color: var(--secondary-text);
    border-radius: 999px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.role-slider-element:hover {
    border: 2px solid var(--accent-color);
    background-color: var(--accent-color);
    font-weight: 600;
}
.role-slider-element.active {
    border: 2px solid transparent;
    color: var(--primary-text);
}
.role-slider-element input {
    width: 0;
    height: 0;
}
.slider-slider {
    position: absolute;
    top: 50%;
    left: 0.4rem;
    transform: translate(0rem, -50%);
    border: 3px solid var(--accent-dark);
    background-color: transparent;
    border-radius: 999px;
    transition: transform 0.3s;
    pointer-events: none;
}

[data-role="FARMER"] { transform: translate(0%, -50%); }
[data-role="TRADER"] { transform: translate(calc(5rem + 0.5rem), -50%); }
[data-role="OFFICER"] { transform: translate(calc(10rem + 1rem), -50%); }

.method-change-text {
    cursor: pointer;
    color: var(--accent-dark);
    font-weight: 700;
    font-size: 1.1rem;

    &:hover {
        text-decoration: underline;
    }
}

.form-submit {
    color: white;
}