.navigation-header {
    width: 100%;
    height: var(--header-height);
    background-color: var(--accent-color);
    align-items: center;
    justify-content: center;

    --font-s: 1.2rem;
}
.nav {
    position: relative;
    min-width: 300px;
    height: 100%;
    gap: 0.5rem;
    padding: 0.5rem 0;
    justify-content: space-between;
}
.nav-links {
    /* width: 120px; */
    position: relative;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: var(--font-s);
    color: var(--primary-text);
    cursor: pointer;
    transition: color 0.2s ease;
}
.nav-links:hover {
    background: linear-gradient(to bottom, var(--accent-dark), var(--accent-color) 70%);
    color: white;
}

.nav-links::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background: linear-gradient(to right, var(--accent-dark), rgb(241, 78, 179));
    bottom: -3px;
    left: 50%;
    border-radius: 99px;
    transform-origin: center;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
}

.nav-links.active::after {
    width: calc(100% + 8px);
}

@media(max-width: 650px) {
    .navigation-header {
        --font-s: 1.1rem;
    }
}
@media(max-width: 400px) {
    .navigation-header {
        --font-s: 1rem;
    }
}