.navigation-header {
    width: 100%;
    height: var(--header-height);
    background-color: var(--accent-color);
    align-items: center;
    justify-content: center;

    --font-s: 1.2rem;
}
.nav {
    position: relative;
    min-width: 300px;
    height: 100%;
    gap: 0.5rem;
    padding: 0.5rem 0;
    justify-content: space-between;
}
.nav-links {
    /* width: 120px; */
    position: relative;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: var(--font-s);
    color: var(--primary-text);
    cursor: pointer;
}
.nav-links:hover {
    background: var(--accent-dark);
    color: white;
}

.nav-links::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background: linear-gradient(to right, var(--accent-dark), rgb(241, 78, 179));
    bottom: -3px;
    left: 50%;
    transform-origin: center;
    transform: translateX(-50%);
    transition: 0.6s ease;
}

.nav-links.active::after {
    width: calc(100% + 8px);
}

@media(max-width: 650px) {
    .navigation-header {
        --font-s: 1.1rem;
    }
}
@media(max-width: 400px) {
    .navigation-header {
        --font-s: 1rem;
    }
}